.el-form-item__label {
  font-size: 12px !important;
  line-height: 14px !important;
  text-transform: uppercase;
  font-weight: 700;
}
.main-form {
  text-align: left;
}
.help-text {
  margin: 0;
  line-height: 2;
  text-align: right;
  font-style: italic;
  color: #A0BE03;
}
.form {
  text-align: left;
  margin: 20px 0px 0px 20px;
}
