// Falabella colors
$fb-green-1: #AAD500;
$fb-green-2: #A0BE03;

$fb-white-1: #F6F6F6;
$fb-white-2: #F4F4F4;
$fb-white-3: #E0E0E0;

$fb-grey-1: #9B9B9B;
$fb-grey-2: #707070;

$fb-black-1: #1A1A1A;
$fb-black-2: #333333;

$fb-ligthblue-1: #DDF7FA;
$fb-ligthblue-2: #75DDE9;

$fb-red-1: #F55E64;
$fb-red-2: #E54D53;